*{
    margin: 0;
    padding: 0;
}
body{
    margin: 2px;
    padding: 10px;
    box-sizing: border-box;
    font-family: Helvetica;
    background-color: #000000;
    color: white;
  }
.cruds{
    margin: 10px;
}
.head{
    grid-area: articl ;
}
.Register{
    margin-top: 30px;
display: flex;
justify-content: center;
}
#deleleteAll{
    margin: 10px 0;
}


input{
    width: 100%;
    height: 30px;
    background: #1f0000 ;
    margin: 4px 0;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff;

}
input:focus{
    background: #3D0000;
}


button{
    width: 100%;
    height: 30px;
    border: none;
    cursor: pointer;
    background: #950101;
    color: #eeeeee;
    border-radius: 20px;
    transition: 0.3s;
}
button:hover{
    background: #FF0000;
    letter-spacing: 0.5px;
}

table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: capitalize;
}
th,td{
    padding: 5px;
}

  main{
    display: grid;
    grid-template-areas: 
    "topbar" 
    "articl";
    grid-template-rows: 60px auto;
    height: 100vh;
    grid-auto-rows: minmax(70px, auto);
    
  }
.theme{
    background-color: #fff;
    color: #000;
}
.theme input{
    background: #eeee;
    color: #000;
}

.theme-btn{
    color: #fff;
    background: #000;
}
.theme .theme-btn{
    color: #000;
    background: #fff;
}
.theme .theme-btn:hover{
    color: #fff;
    background: #FF0000;
}
    
